* {
padding: 0;
margin: 0;
font-family: "Segoe UI", sans-serif;
}

html { 
scroll-behavior: smooth; 
}

body {
font-family: "Segoe UI", sans-serif;
}

.container {
position: relative;
width: 1746px;
height: 1574px;
margin: 0 auto;
}

nav {
display: flex;
position: absolute;
width: 1746px;
height: 64px;
left: 0px;
top: -1px;
}

.Home {
width: 60.6px;
height: 52.11px;
left: 28.55px;
top: 1px;
}

.Home a{
position:absolute;
width: 60.6px;
height: 59.38px;
left: 28.55px;
top: 1px;
list-style: none;
}

header .info-school ul {
position: absolute;
width: 827px;
height: 107px;
left: 24.55px;
top: 55px;

font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;

color: #0A6BA2;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header .UIT-logo{
position: absolute;
width: 135px;
height: 106px;
left: 1577.55px;
top: 60px;
}
nav .Menu ul {
display: flex;
list-style: none;
}

nav .Menu ul li1 {
position:absolute;
float: left;
padding: 0 20px;
width: 238px;
height: 52.11px;
left: 121px;
top: 10px;
}

nav .user-icon{
position: absolute;
width: 60.06px;
height: 60.06px;
left: 1650.55px;
top: 3px;
}

nav .Menu ul li2 {
position:absolute;
float: left;
padding: 0 20px;
width: 238px;
height: 52.11px;
left: 310px;
top: 10px;
}

nav .Menu ul li3 {
position:absolute;
float: left;
padding: 0 20px;
width: 238px;
height: 52.11px;
left: 590px;
top: 10px;
}
nav .Menu ul li4 {
position:absolute;
float: left;
padding: 0 20px;
width: 238px;
height: 52.11px;
left: 860px;
top: 10px;
}
nav .Menu ul li1 a {
font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 29.0859px;
line-height: 39px;
text-align: center;
color: #000000;
text-decoration: none;
}

nav .Menu ul li2 a {
font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 29.0859px;
line-height: 39px;
text-align: center;
color: #000000;
text-decoration: none;
}
nav .Menu ul li3 a {
font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 29.0859px;
line-height: 39px;
text-align: center;
color: #000000;
text-decoration: none;
}
nav .Menu ul li4 a {
font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 29.0859px;
line-height: 39px;
text-align: center;
color: #000000;
text-decoration: none;
}

.Menu ul li1 a:hover{
color: #0021FF;
}

.Menu ul li2 a:hover{
color: #0021FF;
}
.Menu ul li3 a:hover{
color: #0021FF;
}
.Menu ul li4 a:hover{
color: #0021FF;
}

header .UIT-logo{
position: absolute;
width: 135px;
height: 106px;
left: 1577.55px;
top: 60px;
}
nav .search {
position: absolute;
width: 409.79px;
height: 55.75px;
left: 1250px;
top: 3px;
}

header {
position: absolute;
width: 1746px;
height: 494px;
left: -0.45px;
top: 62px;
background: url(https://cdn.glitch.me/3e30c75a-6d2a-4b95-8549-1941573d75cf%2Fdai-hoc-uit%201.svg?v=1638179319888);
}

nav .search {
font-size: 25px;
position: absolute;
width: 409.79px;
height: 55.75px;
background-image: url(https://cdn.glitch.me/3e30c75a-6d2a-4b95-8549-1941573d75cf%2Fsearch.png?v=1638179317687);
background-position: 350px 5px;
background-repeat: no-repeat;
border: 1.51489px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4.84766px 4.84766px rgba(0, 0, 0, 0.25);
border-radius: 30.2979px;
padding-left: 40px;
  padding-right: 73px;
}

nav .search:focus{
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

article {
    position: absolute;
    width: 1746px;
    height: 3124px;
    left: 2px;
    top: 533px;    
    background: url(https://cdn.glitch.me/3e30c75a-6d2a-4b95-8549-1941573d75cf%2Fbackgroundeditcourse.png?v=1638261281111);
}

article .list-course-text{
position: absolute;
width: 680px;
height: 64px;
left: 118px;
top: 82.5px;

font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 46px;
text-align: center;

color: #000000;
}

article .list-course-box{
    
position: absolute;
width: 1362px;
height: 1237.14px;
left: 193px;
top: 155px;
}

article .button-add-more-course{
position: absolute;
width: 195.74px;
height: 64px;
left: 188.63px;
top: 1438px;

background: #F9F9F9;
border: 1.5px solid #000000;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}

article .button-add-more-course:hover{
    background-color: rgba(207, 207, 207);
}

article .button-add-more-course ul{
font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 23.2px;
line-height: 27px;
text-align: center;

color: #000000;
}

article .list-add-course-text{
position: absolute;
width: 763px;
height: 64px;
left: 155px;
top: 1590px;

font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 46px;
text-align: center;

color: #000000;
}

article .list-add-course-box{
position: absolute;
width: 1360px;
height: 1237.14px;
left: 194px;
top: 1660px;
}

article .button-delete-course{
position: absolute;
width: 168px;
height: 64px;
left: 185px;
top: 2940px;

background: #F9F9F9;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border: 1.5px solid #000000;
border-radius: 25px;
}

article .button-delete-course ul{
position: absolute;
left:10px;
top:14px;

font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 23.2px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

article .button-delete-course:hover{
    background-color: #cfcfcf;
}

article .button-accept-course{
position: absolute;
width: 168px;
height: 64px;
left: 406px;
top: 2940px;

background: #F9F9F9;
border: 1.5px solid #000000;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}

article .button-accept-course ul{
position: absolute;
left:32px;
top:14px;

font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 23.2px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #000000;    
}

article .button-accept-course:hover{
    background-color: #cfcfcf;
}

article .checkboxes1{
position: absolute;
width: 20.95px;
height: 1208.9px;
left: 185px;
top: 134px;
}
article .checkboxes1 input{
display: flex;
width: 19.96px;
height: 19.9px;
left: 214.97px;
top: 0px;

background: #FFF8F8;
border: 1.4px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;
}
.checkboxes1 input{
    margin: 31.8px 10px 30px 30px;
}

article .checkboxes2{
position: absolute;
width: 20.95px;
height: 1208.9px;
left: 185px;
top: 1640px;
}

article .checkboxes2 input{
display: flex;
width: 19.96px;
height: 19.9px;
left: 214.97px;
top: 0px;

background: #FFF8F8;
border: 1.4px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;
}

.checkboxes2 input{
    margin: 31.8px 10px 30px 30px;
}